<div class="sidebar">
	<div class="container">
		<div class="sidebar-about">
			<h1>
				<a href="/">{{ site.title }}</a>
			</h1>
			<p class="lead">{{ site.description }}</p>
		</div>

		<nav class="sidebar-nav">
			<!--<a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a>-->

			{% comment %}
				The code below dynamically generates a sidebar nav of pages with
				`layout: page` in the front-matter. See readme for usage.
			{% endcomment %}

			{% for node in site.pages %}
				{% if node.title != null %}
					{% if node.layout == "page" %}
						<a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
					{% endif %}
				{% endif %}
			{% endfor %}
			</ul>

			<a class="sidebar-nav-item" href="/public/Jacob_Sayles_Resume.pdf">Resume</a>

			<a class="sidebar-nav-item" href="/tags/">Projects</a>
			<ul>
				{% for t in site.tags  %}
					{% assign tag = t[0] %}
					<li><a class="sidebar-nav-item" href="/tags/{{ tag }}/">{{ tag }}</a></li>
				{% endfor %}
			</ul>
		</nav>

		<p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
	</div>
</div>
