---
layout: default
---

<div class="post">
	<h1 class="post-title">{{ page.title }}</h1>
	<span class="post-date">{{ page.date | date_to_string }}
		{% if page.tags %} - 
			{% for tag in page.tags %}
				<dd>{{ tag }}</dd>
			{% endfor %}
		{% endif %}
	</span>

	{{ content }}

	{% if page.images %}
		<div class="images">
			<h4>Images:</h4>
			{% for image in page.images %}
				<a href="/public/{{ image }}"><img class="gallery" src="/public/{{ image }}"/></a>
			{% endfor %}
		</div>
	{% endif %}

	{% if page.links %}
		<div class="links">
			<h4>Links:</h4>
			<ul>
			{% for link in page.links %}
				<li><a href="{{ link[1] }}">{{ link[0] }}</a></li>
			{% endfor %}
			</ul>
		</div>
	{% endif %}

	{% if page.collaborators %}
		<div class="collaborators">
			<h4>Collaborators:</h4>
			<ul>
			{% for c in page.collaborators %}
				{% assign collaborator = site.collaborators[c] %}
				<li><a href="{{collaborator.url}}">{{ collaborator.full_name }}</a></li>
			{% endfor %}
			</ul>
		</div>
	{% endif %}
</div>

<!--
<div class="related">
  <h2>Related Posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>
-->
